p {
    font-family: optima;
}
li {
    font-family: optima;
    position: relative;
    left: -28px;
}

.description {
    position: relative;
    text-align: right;
}

ul {
  background-color: aliceblue;
  border-bottom-width: 55px;  
}