h1 {
    font-family: optima;
    text-align: center;
}
p {
    font-family: optima;
}

ul {
  background-color: aliceblue;
 left: -45px;
  
}
div {
    position: relative;
    left: 290px;
    bottom: 115px;
}
#logo {
    position: relative;
    left: -190px;
    bottom: 10px;
    width: 95px;
    height: 60px;
    
}
input {
    position: relative;
    left: 450px;
    bottom: 25px;
}

button {
    position: relative;
    left: 450px;
    bottom: 25px;
}