h1 {
    font-size: 20px;
    position: relative;
    bottom: 360px;
    left: 430px;
    color: #009C35;
    text-decoration-line: underline;
}
.navbarcolor{
    background-color: #C6F4CB;
}
input {
    position: relative;
    left: 450px;
    bottom: 25px;
}
button {
    position: relative;
    left: 450px;
    bottom: 25px;
}
h6 {
    color: #009C35;
    font-family: optima;  
}
#logo {
    position: relative;
    left: -190px;
    bottom: 10px;
    width: 95px;
    height: 60px;
}
#bnha {
    position: relative;
    left: 390px;
    bottom: -54px;
    width: 250px;
    height: 350px;
}
#rating {
    color: #009C35;
    text-decoration-line: underline;
    font-family: optima;
}
#about {
    color: #009C35;
    text-decoration-line: underline;
    font-family: optima;
}
.checked {
    color: orange;
    border: black;
}
#season {
    color: #009C35;
    text-decoration-line: underline;
    font-family: optima;
}
#season1 {
    position: relative;
}
#season2 {
    position: relative;
    left: 106px;
}
#season3 {
    position: relative; 
    left: 212px;
}
#sub1{
    position: relative;
    left: 40px;
    bottom: -10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: optima; 
    
}
#dub1{
    position: relative;
    left: 100px;
    bottom: -10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: optima; 
}
p {
    font-family: optima;
}