<div class="navbarcolor"><input [(ngModel)]="searchText" placeholder="Search">
  <button (click)="goToList()">
      Search
  </button>
  <a href="home"><img id="logo" src="../../assets/hashi.jpg"></a>
  </div>
  <img id="bnha" src="https://img1.ak.crunchyroll.com/i/spire1/863ba423b729f58769a4004834e5554e1491069428_full.jpg"> 
  <hr>
  <h2 id="rating">
    Rating
  </h2>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<h6>
  (Source: Crunchyroll)
</h6>
  <h2 id="about">
    About
  </h2>
  <p>
      Izuku has dreamt of being a hero all his life—a lofty goal for anyone, but especially challenging for a kid with no superpowers. That’s right, in a world where eighty percent of the population has some kind of super-powered “quirk,” Izuku was unlucky enough to be born completely normal. But that’s not enough to stop him from enrolling in one of the world’s most prestigious hero academies
  </p>
  <h2 id="season">
    Seasons: 3
  </h2>
  <img id="season1" src="../../assets/bnha.jpg">
  <a href="http://www.crunchyroll.com/my-hero-academia" id="sub1">Watch with Subtitles</a>
  <a href="https://www.funimation.com/shows/my-hero-academia/" id="dub1">Watch in English</a>
  <!--
  <img id="season2" src="../../assets/bnha.jpg">
  <button id="sub2">Watch (Sub)</button>
  <button id="dub2">Watch (Dub)</button>
  <img id="season3" src="../../assets/bnha.jpg">
  <button id="sub3">Watch (Sub)</button>
  <button id="dub3">Watch (Dub)</button> -->