<div class="navbarcolor"><input [(ngModel)]="searchText" placeholder="Search">
  <button (click)="goToList()">
      Search
  </button>
  <a href="../home.component.html"><img id="logo" src="../../assets/hashi.jpg"></a>
  </div>
  <img id="bnha" src="https://img1.ak.crunchyroll.com/i/spire1/863ba423b729f58769a4004834e5554e1491069428_full.jpg"> 
  <hr>
  <h2 id="rating">
    Rating
  </h2>
  <h2 id="about">
    About
  </h2>
  <h2 id="season">
    Seasons 1-3
  </h2>
  <button>Watch (Sub)</button>
  <button>Watch (Dub)</button>