<input [(ngModel)]="searchText" placeholder="Search">
<button (click)="goToList()">
    Search
</button>
<a href="../home.component.html"><img id="logo" src="../../assets/hashi.jpg"></a>

  
  
  <ng-template #prev>
    <img src="../../assets/left.jpg" id="left" />
  </ng-template>
  <ng-template #next>
    <img src="../../assets/right.jpg" id="right" />
    
  </ng-template>
  <ng-template #item let-item let-i="home">
  
      <div class="items">
        <img src="{{ item.name }}">
      </div>
  
  </ng-template>
  
<hr>
<p>
    sdfjhsdjf
</p>
<hr>

<img id = "st" src="../../assets/ST.jpg">

<p id="str">
    Stranger Things
   
</p>

<img id = "got" src="../../assets/got.jpg">
<p id="gote">
    Game Of Thrones
</p>
<img id = "pr" src="../../assets/pr.jpg">
<p id="prr">
    Parks and Recreation
</p>


<!--<img src="../../assets/search.jpg"!-->
