img {
    width: 150px;
    height: 100px;
    position: relative;
    bottom: -105px;
}
.navbarcolor{
    background-color: #26408B;
    opacity: 0.7;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    width: 98.6%;

}
input {
    position: relative;
    left: 850px;
    bottom: 25px;
    width: 250px;
    height: 25px;
}
hr {
    bottom: -56px;
}
#logo {
    position: relative;
    left: -250px;
    bottom: 0px;
    width: 95px;
    height: 60px;
    
    
}
#heroes {
    position: relative;
    left: 505px;
    bottom: -400px;
}
#prr {
position: relative;
left: 945px;
bottom: -151px;
}
#gote {
position: relative;
left: 35px;
bottom: 99px;
}
.stcaption {
    position: relative;
    left: 505px;
}
#gtitle {
position: relative;
font-family: optima;
bottom: 115px;
left: 40px;
color: #1193DD;
text-decoration-line: underline;
}
#gfont {
position: relative;
font-family: optima;
left: 85px;
bottom: 135px;
}
#stitle {
    position: relative;
    font-family: optima;
    bottom: -385px;
    left: 50px;
    color: #1193DD;
text-decoration-line: underline;
}
#sfont {
    position: relative;
    font-family: optima;
    left: 50px;
    bottom: -365px;

}
#ptitle {
    position: relative;
    font-family: optima;
    bottom: -135px;
    left: 940px;
    color: #1193DD;
text-decoration-line: underline;
}
#pfont {
    position: relative;
    font-family: optima;
    left: 995px;
    bottom: -115px;
}
#premium {
    font-family: optima;
    color: rgb(205, 58, 58);
    position: relative;
    left: 450px;
    bottom: 10px; 
    text-decoration-line: underline;  
}
#categories {
    font-family: optima;
    color: green;
    position: relative;
    left: 250px;
    bottom: -10px; 
    text-decoration-line: underline;  
}